body {
    font-family: Rubik;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1A1A1D;
    overflow: hidden;
}

.music-player {
    background-color: #3B1C32;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #E8BCB9;
}

h3 {
    color: #E8BCB9;
}

.current-time {
    color: #E8BCB9;
}

.now-playing {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#album-art {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

footer {
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

footer hr {
    border: 0;
    height: 1px; 
    background-color: white; 
    opacity: 0.5; 
    margin: 10px 0; 
}


.song-info {
    flex-grow: 1;
}

.song-info h2 {
    margin: 0;
    font-size: 1.2em;
    color: #E8BCB9;
}

.song-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #E8BCB9;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ffffff;
}


#seek-slider {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #dfdbde;
    border-radius: 5px; 
    transition: all 0.3s ease;
}

#seek-slider:hover {
    background: #E8BCB9; 
}

#seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default thumb style */
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff; /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for thumb hover effect */
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #A64D79;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

button:hover {
    background-color: #922C5D;
}

.volume-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

#volume-slider {
    flex-grow: 1;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #1d1019;
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease;
}

#volume-slider:hover {
    background: #e9e9e9; /* Change color on hover */
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default thumb style */
    appearance: none;
    width: 10px;
    height: 10px;
    background: #fff; /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for thumb hover effect */
}

.playlist {
    max-height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #1d1019;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#922C5D,#A64D79);
    border-radius: 10px;
    transition: opacity 0.3s;
}

#playlist-items {
    list-style-type: none;
    padding: 0;
    padding-right: 10px;
}

#playlist-items li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 8px;
}

#playlist-items li:hover {
    background-color: #e9e9e9;
}

#playlist-items li.active {
    background-color: #A64D79;
    color: white;
}

@media (max-width: 480px) {
    .music-player {
        max-width: 200px;
        padding: 5px 10px;
        max-height: 300px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 600px) {
    .music-player {
        max-width: 350px;
        padding: 10px 15px; 
        max-height: 400px;
    }

    .now-playing {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    #album-art {
        margin-right: 0;
        margin-bottom: 15px;
    }
}